[submodule "nrf52-mega-dfu"]
	path = upgrader/nrf52-mega-dfu
	url = git@github.com:TomKeddie/nrf52-mega-dfu.git
[submodule "pc-nrfutil"]
	path = pc-nrfutil
	url = git@github.com:NordicSemiconductor/pc-nrfutil.git
